/* HOME GRID LAYOUT */
body {
  margin: 0
}

.homeGrid {
  display: grid;
  grid-template-columns: [first] 25vw [second] 25vw [third] 25vw [fourth] 25vw[last-column];
  grid-template-rows: [first] 23.5vh [second] 23.5vh [third] 23.5vh [fourth] 23.5vh [fifth] 6vh [last-row];
}

.header {
  grid-column: 1 / span 2;
  grid-row: first / span 1;
  background-color: #061a1b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerDrop {
  margin: -10px 0 0 0;
  height: 30%;
  z-index: 1;
}

.homeLink {
  font-family: 'Moon Dance', cursive;
  font-size: 90px;
  margin: 240px 0 0 0;
  /* font-weight: 900; */
}

.headerLinks {
  display: flex;
  justify-content: center;
  width: 100%
}

.headerLink {
  text-decoration: none;
  color: white;
  margin: 23px;
  font-family: 'Barlow';
  /* padding: 0 20px 0 0; */
  transition: .2s;
}

.headerLink:hover {
  /* letter-spacing: 5px; */
  color: #f77c96;
  transition: .2s
}

.homePortraitDiv {
  grid-column: 3 / span 1;
  grid-row: first / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeServicesDiv {
  grid-column: 4 / span 1;
  grid-row: first / span 2;
  background-color: #061a1b;
  background-image: url('https://i.imgur.com/y2qqP5l.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicesHome{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicesHomeImage {
  width: 35%
}

.servicesLink {
  font-family: 'Moon Dance', cursive;
  font-size: 50px;
  height: 100%;
  color: white;
  margin: 0;
  transition: .2s
}

.servicesLink:hover {
  letter-spacing: 8px;
  transition: .2s
}

.homeCardDiv {
  grid-column: 1 / span 1;
  grid-row: second / span 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHoroscopeDiv {
  grid-column: 2 / span 1;
  grid-row: second / span 3;
  background-color: #061a1b;
}

.homeBookingDiv {
  grid-column: 3 / span 1;
  grid-row: third / span 2;
  background-color: #061a1b;
  background-image: url('https://i.imgur.com/OnJwWTy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingHomeImage {
  width: 35%
}

.bookingLink {
  font-family: 'Moon Dance', cursive;
  font-size: 50px;
  height: 90px;
  color: white;
  margin: 0;
  transition: .2s
}

.bookingLink:hover {
  letter-spacing: 8px;
  transition: .2s
}

.homeReviewDiv {
  grid-column: 4 / span 1;
  grid-row: third / span 2;
  background-color: #061a1b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px 0px 0px 10px white; */
}

.homeRetrogradeDiv {
  grid-column: 1 / span 4;
  grid-row: fifth / span 1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1220px) {
  .homeGrid {
    display: grid;
    grid-template-columns: [first] 25vw [second] 25vw [third] 25vw [fourth] 25vw[last-column];
    grid-template-rows: [first] 20vh [second] 20vh [third] 20vh [fourth] 20vh [fifth] 20vh [sixth] 20vh [seventh] 20vh [eigth] 20vh [ninth] 20vh [tenth] 7vh[last-row];
  }
  
  .header {
    grid-column: 1 / span 4;
    grid-row: first / span 1;
  }
  
  .homePortraitDiv {
    grid-column: 1 / span 2;
    grid-row: second / span 2;
  }
  
  .homeServicesDiv {
    grid-column: 3 / span 2;
    grid-row: second / span 2;
  }
  
  .homeCardDiv {
    grid-column: 3 / span 2;
    grid-row: sixth/ span 4;
  }
  
  .homeHoroscopeDiv {
    grid-column: 1 / span 2;
    grid-row: sixth / span 4;
  }
  
  .homeBookingDiv {
    grid-column: 1 / span 2;
    grid-row: fourth / span 2;
  }
  
  .homeReviewDiv {
    grid-column: 3 / span 2;
    grid-row: fourth / span 2;
  }
  
  .homeRetrogradeDiv {
    grid-column: 1 / span 4;
    grid-row: tenth / span 1;
    background-color: lightblue
  }
}

/* PAGE GRID LAYOUT */

.pageGrid {
  display: grid;
  grid-template-columns: [first] 25vw [second] 25vw [third] 25vw [fourth] 25vw[last-column];
  grid-template-rows: [first] 23.5vh [second] 23.5vh [third] 23.5vh [fourth] 23.5vh [fifth] 6vh [last-row];
}

.pageHeader {
  grid-column: 1 / span 2;
  grid-row: first / span 1;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagePic {
  grid-column: 1 / span 2;
  grid-row: second / span 3;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
}

.cardPagePic {
  grid-column: 1 / span 2;
  grid-row: second / span 3;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
}

.pageInfo {
  grid-column: 3 / span 2;
  grid-row: first / span 4;
  background-color: lavender;
  overflow-y: auto;
}

.pageRetrogradeDiv {
  grid-column: 1 / span 4;
  grid-row: fifth / span 1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1220px) {
  .pageHeader {
    grid-column: 1 / span 4;
    grid-row: first / span 1;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pagePic {
    grid-column: 1 / span 2;
    grid-row: second / span 3;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
  }

  .cardPagePic {
    grid-column: 1 / span 2;
    grid-row: second / span 3;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
  }
  
  .pageInfo {
    grid-column: 3 / span 2;
    grid-row: second / span 3;
    background-color: lavender;
    overflow-y: auto;
  }
}

/* HOROSCOPES */

.horoscopeDescription {
  padding: 20px;
}

.signButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 100%
}

.horoscopeDiv {
  width: 100%;
  height: 100%;
}

.signButton {
  width: 100%;
  height: 4.3em;
  border: none;
  background-color: #061a1b;
  color: white;
  font-family: "Barlow", cursive;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid white;
}

@media only screen and (max-width: 1220px) {

/* .signButton {
  height: 3.27em;
} */

}

/* HOROSCOPE MODAL */

.horoscopeDiv {
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.horoscopeDescription {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.signButtons {
  z-index: 1;
}

/* DAILY CARD */

.dailyCardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dailyCardImage {
  width: 75%
}

.dailyCardText {
  width: 80%;
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 1220px) {

.dailyCardImage {
  width: 80%
}

.dailyCardText {
  width: 80%;
  margin: 20px 0 0 0;
}

}

/* HOME REVIEW CYCLE */

.reviewTitle {
  margin: 0;
  font-family: 'Moon Dance', cursive;
  font-size: 50px;
  line-height: 45px;
  text-align: center;
}

.reviewText {
  font-family: 'Barlow';
  font-weight: 100;
  font-size: 18px;
  margin: 20px 0 0 0;
  text-align: justify;
  width: 100%;
}

.reviewAuthor {
  font-family: 'Barlow', cursive;
  font-size: 13px;
  text-transform: uppercase;
  /* margin: 0 40px 0 0; */
  text-align: right;
}

/* HEADER */



/* .homeLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* OTHER */


.homePortrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homePortrait:hover {
  content: url('https://i.imgur.com/4HAWH3s.jpg');
}

.homeReviews {
  width: 80%
}

.allCardsCard {
  width: 20%
}

.pagePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardPagePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  object-fit: cover;
}

/* ///////////// */